*.edf
*node_modules*
*NO_PUSH*
*.lock
*.vscode
__pycache__*
*.vs
*CMakeFiles*
*package-lock*
*.pdf

/py_env/custom_workspace/data/*
/py_env/custom_workspace/logs/
/py_env/custom_workspace/vis/*/*.svg
/py_env/custom_workspace/benchmarks/*
!/py_env/custom_workspace/benchmarks/push*
/py_env/custom_workspace/checkpoints/

/node_env/evaluation/benchmarks/cache/*
/node_env/evaluation/data/*
/node_env/webapp_port/data/*
/node_env/scripts/dataset/*

/cpp_env/wasm_env/build/
/cpp_env/wasm_env/CMakeFiles/
/cpp_env/wasm_env/out/*
/cpp_env/wasm_env/webidl_build/*
/cpp_env/wasm_env/third-party/Eigen/*
/cpp_env/wasm_env/Kernel/src/data/

/watch_webapp/platforms/*
/watch_webapp/plugins/*
/watch_webapp/www/*